h1 {
    color:violet
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: navy;
    padding: 50px;
    border: 4px dotted yellow;
}

#spanId {
    font-size: 25px;
    margin: 50px;
}